

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,body {
  background: #000;
}

main {
  height: 1000vh;
  width: 100vw;
  overflow: hidden;
  color: white;
  position: relative;
}

main nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .7rem;
  width: 100%;
  .velocity {
    width: 100px;
    height: 3px;
    background: grey;
    overflow: hidden;
    border-radius: 10px;
    .line {
      width: 100%;
      height: 100%;
      background: white;
      transform: scaleX(0);
      transform-origin: left;
    }
  }
}

h1 {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -.0125rem;
}

main  .images {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    pointer-events: none;
    .image {
      position: absolute;
      width: 150px;
      height: 200px;
    }
  }

main .hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .texts {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 .7rem;
    gap: 14px;
  }
 
}


img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}