

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: black;
  color: white;
  position: relative;
}

main nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .7rem;
  width: 100%;
  .accleration {
    width: 100px;
    height: 3px;
    background: grey;
    overflow: hidden;
    border-radius: 10px;
    .line {
      width: 100%;
      height: 100%;
      background: white;
      transform: scaleX(0);
      transform-origin: left;
    }
  }
}

h1 {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -.0125rem;
}

main .hero-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .texts {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 .7rem;
    gap: 14px;
  }
  .images {
    height: 50%;
    width: 100%;
    position: relative;
    .image {
      position: absolute;
      width: 150px;
      height: 200px;
    }
  }
}


img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}